**/node_modules/
**/dist/
**/dist_electron/
**/.env
**/.parcel-cache
**/.cache
**/.temp
**/tmp/
**/*.log
**/.DS_Store
**/build/
**/release/
**/*.AppImage
**/*.exe
**/*.deb
**/*.zip
**/*.dmg
**/*.rpm
**/.idea/
**/.vscode/
.git/
